selferp_l10n_ua_ext/schemas/J0215725.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Розрахунок (перерахунок) частки використання товарів/послуг, необоротних активів в оподатковуваних операціях (Д6) [ Додаток 6 до податкової декларації з податку на додану вартість]
		(Наказ Міністерства фінансів України від 28 січня 2016 року № 21 (у редакції наказу Міністерства фінансів України  від 28 грудня  2022 року № 463))</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="common_types.xsd"/>
	<xs:element name="DECLAR" type="DeclarContent"/>
	<xs:complexType name="DeclarContent">
		<xs:sequence>
			<xs:element name="DECLARHEAD" type="DHead"/>
			<xs:element name="DECLARBODY" type="DBody">
				<xs:unique name="UT2RXXXXG2D">
					<xs:selector xpath="T2RXXXXG2D"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG3S">
					<xs:selector xpath="T2RXXXXG3S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG4D">
					<xs:selector xpath="T2RXXXXG4D"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG5S">
					<xs:selector xpath="T2RXXXXG5S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG6">
					<xs:selector xpath="T2RXXXXG6"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG7">
					<xs:selector xpath="T2RXXXXG7"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG8">
					<xs:selector xpath="T2RXXXXG8"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG9">
					<xs:selector xpath="T2RXXXXG9"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG10">
					<xs:selector xpath="T2RXXXXG10"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT2RXXXXG11">
					<xs:selector xpath="T2RXXXXG11"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHead">
		<xs:sequence>
			<xs:element name="TIN" type="DGLong"/>
			<xs:element name="C_DOC" type="xs:string" fixed="J02"/>
			<xs:element name="C_DOC_SUB" type="xs:string" fixed="157"/>
			<xs:element name="C_DOC_VER" type="xs:string" fixed="25"/>
			<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
			<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
			<xs:element name="C_REG" type="DGsti"/>
			<xs:element name="C_RAJ" type="DGsti"/>
			<xs:element name="PERIOD_MONTH" type="DGMonth"/>
			<xs:element name="PERIOD_TYPE" type="DGPType"/>
			<xs:element name="PERIOD_YEAR" type="DGYear"/>
			<xs:element name="C_STI_ORIG" type="DGc_dpi"/>
			<xs:element name="C_DOC_STAN" type="DGSTAN"/>
			<xs:element name="LINKED_DOCS" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOC" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="C_DOC" type="DGC_DOC"/>
									<xs:element name="C_DOC_SUB" type="DGC_DOC_SUB"/>
									<xs:element name="C_DOC_VER" type="DGC_DOC_VER"/>
									<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_STAN" type="DGSTAN"/>
									<xs:element name="FILENAME" type="DGFilename"/>
								</xs:sequence>
								<xs:attribute name="NUM" type="xs:nonNegativeInteger"/>
								<xs:attribute name="TYPE" type="DGTypeLinkDoc"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UH_DOC_NUM">
					<xs:selector xpath="DOC"/>
					<xs:field xpath="@NUM"/>
				</xs:unique>
			</xs:element>
			<xs:element name="D_FILL" type="DGDate"/>
			<xs:element name="SOFTWARE" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DBody">
		<xs:sequence>
			<!--HEAD-->
			<xs:choice>
				<xs:element name="HZ" type="DGchk"/>
				<xs:element name="HZN" type="DGchk"/>
				<xs:element name="HZU" type="DGchk"/>
			</xs:choice>
			<xs:element name="HZY" type="DGYear"/>
			<xs:element name="HZM" type="DGMonth"/>
			<xs:element name="HZYP" type="DGYear" nillable="true" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:element name="HZKVP" type="DGKv"/>
				<xs:element name="HZMP" type="DGMonth"/>
			</xs:choice>
			<xs:element name="HCHV" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="HNAME" type="DGHNAME"/>
			<xs:element name="HDDGV" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="HNDGV" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="HTIN" type="DGHTINJ"/>
			<xs:element name="HNPDV" type="DGHNPDV"/>
			<!--BODY-->
			<xs:element name="R011G4" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R011G5" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R011G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R011G7" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R012G4" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R012G5" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R012G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R012G7" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0131G4" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R0131G5" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R0131G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0131G7" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0132G4" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R0132G5" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R0132G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0132G7" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0133G4" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R0133G5" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R0133G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R0133G7" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="T2RXXXXG2D" type="DateColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T2RXXXXG3S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T2RXXXXG4D" type="DateColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T2RXXXXG5S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T2RXXXXG6" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T2RXXXXG7" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T2RXXXXG8" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T2RXXXXG9" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T2RXXXXG10" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T2RXXXXG11" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="R02G6" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R02G7" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R02G8" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R02G9" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R02G10" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R02G11" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R031G3" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R031G4" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R031G5" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R031G6" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R031G7" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R032G3" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R032G4" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R032G5" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R032G6" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R032G7" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R033G3" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R033G4" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R033G5" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R033G6" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R033G7" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G1" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G2" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G3" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G4" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G5" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G6" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G7" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G8" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G9" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G10" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G11" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G12" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G13" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<xs:element name="R041G14" type="DGdecimal0" nillable="true" minOccurs="0"/>
			<!--FOOTER-->
			<xs:element name="HFILL" type="DGDate"/>
			<xs:element name="HBOS" type="DGHBOS"/>
			<xs:element name="HKBOS" type="DGDRFO_10"/>
			<xs:element name="HBUH" type="DGHBUH" nillable="true" minOccurs="0"/>
			<xs:element name="HKBUH" type="DGDRFO_10" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!--Розробник: відділ проектування та розробки АІС ГУ ДПС у Черкаській області-->
