selferp_l10n_ua_ext/schemas/J0510609.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Відомості про наявність підстав для обліку стажу окремим категоріям осіб відповідно до законодавства. (Додаток 6  до Податкового розрахунку сум доходу, 
нарахованого (сплаченого) на користь платників податків - фізичних осіб, і сум утриманого з них податку, а також сум нарахованого єдиного внеску (Д6) (пункт 6  розділу IV)). 
(у редакції наказу Міністерства фінансів України    від  02.03.2023 року № 113)</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="common_types.xsd"/>
	<xs:element name="DECLAR" type="DeclarContent"/>
	<xs:complexType name="DeclarContent">
		<xs:sequence>
			<xs:element name="DECLARHEAD" type="DHead"/>
			<xs:element name="DECLARBODY" type="DBody">
				<xs:unique name="UT1RXXXXG5">
					<xs:selector xpath="T1RXXXXG5"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG6S">
					<xs:selector xpath="T1RXXXXG6S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG7S">
					<xs:selector xpath="T1RXXXXG7S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG81S">
					<xs:selector xpath="T1RXXXXG81S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG82S">
					<xs:selector xpath="T1RXXXXG82S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG83S">
					<xs:selector xpath="T1RXXXXG83S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG9">
					<xs:selector xpath="T1RXXXXG9"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG10">
					<xs:selector xpath="T1RXXXXG10"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG11">
					<xs:selector xpath="T1RXXXXG11"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG121">
					<xs:selector xpath="T1RXXXXG121"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG122">
					<xs:selector xpath="T1RXXXXG122"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG131">
					<xs:selector xpath="T1RXXXXG131"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG132">
					<xs:selector xpath="T1RXXXXG132"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG133">
					<xs:selector xpath="T1RXXXXG133"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG14S">
					<xs:selector xpath="T1RXXXXG14S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG15D">
					<xs:selector xpath="T1RXXXXG15D"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG16">
					<xs:selector xpath="T1RXXXXG16"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG17">
					<xs:selector xpath="T1RXXXXG17"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHead">
		<xs:sequence>
			<xs:element name="TIN" type="DGLong"/>
			<xs:element name="C_DOC" type="xs:string" fixed="J05"/>
			<xs:element name="C_DOC_SUB" type="xs:string" fixed="106"/>
			<xs:element name="C_DOC_VER" type="xs:string" fixed="9"/>
			<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
			<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
			<xs:element name="C_REG" type="DGsti"/>
			<xs:element name="C_RAJ" type="DGsti"/>
			<xs:element name="PERIOD_MONTH" type="DGMonth"/>
			<xs:element name="PERIOD_TYPE" type="DGPType"/>
			<xs:element name="PERIOD_YEAR" type="DGYear"/>
			<xs:element name="C_STI_ORIG" type="DGc_dpi"/>
			<xs:element name="C_DOC_STAN" type="DGSTAN"/>
			<xs:element name="LINKED_DOCS" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOC" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="C_DOC" type="DGC_DOC"/>
									<xs:element name="C_DOC_SUB" type="DGC_DOC_SUB"/>
									<xs:element name="C_DOC_VER" type="DGC_DOC_VER"/>
									<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_STAN" type="DGSTAN"/>
									<xs:element name="FILENAME" type="DGFilename"/>
								</xs:sequence>
								<xs:attribute name="NUM" type="xs:nonNegativeInteger"/>
								<xs:attribute name="TYPE" type="DGTypeLinkDoc"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UH_DOC_NUM">
					<xs:selector xpath="DOC"/>
					<xs:field xpath="@NUM"/>
				</xs:unique>
			</xs:element>
			<xs:element name="D_FILL" type="DGDate"/>
			<xs:element name="SOFTWARE" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DBody">
		<xs:sequence>
			<!--HEAD-->
			<xs:choice>
				<xs:sequence>
					<xs:element name="HZ" type="DGchk"/>
					<xs:element name="HZD" type="DGchk" nillable="true" minOccurs="0"/>
					<xs:element name="H01" type="DGchk" nillable="true" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="HZN" type="DGchk"/>
				<xs:sequence>
					<xs:element name="HZU" type="DGchk"/>
					<xs:element name="HTIN1" type="DGLong" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="HZY" type="DGYear"/>
			<xs:element name="HZKV" type="DGKv"/>
			<xs:element name="HNM" type="DGSEAZON"/>
			<xs:element name="HNUM1" type="DGSEAZON"/>
			<xs:element name="HNAME" type="DGHNAME"/>
			<xs:element name="HTIN" type="DGHTINJ"/>
			<!--TABLE №1-->
			<xs:element name="T1RXXXXG5" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG6S" type="NumZOColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG7S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG81S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG82S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG83S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG9" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG10" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG11" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG121" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG122" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG131" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG132" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG133" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG14S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG15D" type="DateColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG16" type="SeazonColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG17" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<!--/TABLE №1-->
			<!--FOOTER-->
			<xs:element name="HFILL" type="DGDate"/>
			<xs:element name="HKBOS" type="DGDRFO_10"/>
			<xs:element name="HBOS" type="DGHBOS"/>
			<xs:element name="HKBUH" type="DGDRFO_10" nillable="true" minOccurs="0"/>
			<xs:element name="HBUH" type="DGHBUH" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!--Розробник: відділ проектування та розробки АІС ГУ ДПС у Черкаській області-->
