selferp_l10n_ua_ext/schemas/J0510309.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Відомості про осіб, які проходять строкову військову службу. (Додаток 3 до Податкового розрахунку сум доходу, нарахованого (сплаченого) 
на користь платників податків - фізичних осіб, і сум утриманого з них податку, а також сум нарахованого єдиного внеску (Д3) (пункт 3 розділу IV)). 
(у редакції наказу Міністерства фінансів України   від  02.03.2023 року № 113)</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="common_types.xsd"/>
	<xs:element name="DECLAR" type="DeclarContent"/>
	<xs:complexType name="DeclarContent">
		<xs:sequence>
			<xs:element name="DECLARHEAD" type="DHead"/>
			<xs:element name="DECLARBODY" type="DBody">
				<xs:unique name="UT1RXXXXG5S">
					<xs:selector xpath="T1RXXXXG5S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG61S">
					<xs:selector xpath="T1RXXXXG61S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG62S">
					<xs:selector xpath="T1RXXXXG62S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG63S">
					<xs:selector xpath="T1RXXXXG63S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG7">
					<xs:selector xpath="T1RXXXXG7"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG9">
					<xs:selector xpath="T1RXXXXG9"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG10">
					<xs:selector xpath="T1RXXXXG10"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG111">
					<xs:selector xpath="T1RXXXXG111"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG112">
					<xs:selector xpath="T1RXXXXG112"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG12">
					<xs:selector xpath="T1RXXXXG12"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG13">
					<xs:selector xpath="T1RXXXXG13"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG14">
					<xs:selector xpath="T1RXXXXG14"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHead">
		<xs:sequence>
			<xs:element name="TIN" type="DGLong"/>
			<xs:element name="C_DOC" type="xs:string" fixed="J05"/>
			<xs:element name="C_DOC_SUB" type="xs:string" fixed="103"/>
			<xs:element name="C_DOC_VER" type="xs:string" fixed="9"/>
			<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
			<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
			<xs:element name="C_REG" type="DGsti"/>
			<xs:element name="C_RAJ" type="DGsti"/>
			<xs:element name="PERIOD_MONTH" type="DGMonth"/>
			<xs:element name="PERIOD_TYPE" type="DGPType"/>
			<xs:element name="PERIOD_YEAR" type="DGYear"/>
			<xs:element name="C_STI_ORIG" type="DGc_dpi"/>
			<xs:element name="C_DOC_STAN" type="DGSTAN"/>
			<xs:element name="LINKED_DOCS" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOC" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="C_DOC" type="DGC_DOC"/>
									<xs:element name="C_DOC_SUB" type="DGC_DOC_SUB"/>
									<xs:element name="C_DOC_VER" type="DGC_DOC_VER"/>
									<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_STAN" type="DGSTAN"/>
									<xs:element name="FILENAME" type="DGFilename"/>
								</xs:sequence>
								<xs:attribute name="NUM" type="xs:nonNegativeInteger"/>
								<xs:attribute name="TYPE" type="DGTypeLinkDoc"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UH_DOC_NUM">
					<xs:selector xpath="DOC"/>
					<xs:field xpath="@NUM"/>
				</xs:unique>
			</xs:element>
			<xs:element name="D_FILL" type="DGDate"/>
			<xs:element name="SOFTWARE" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DBody">
		<xs:sequence>
			<!--HEAD-->
			<xs:choice>
				<xs:element name="HZ" type="DGchk"/>
				<xs:element name="HZN" type="DGchk"/>
				<xs:sequence>
					<xs:element name="HZU" type="DGchk"/>
					<xs:element name="HTIN1" type="DGLong" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="HZY" type="DGYear"/>
			<xs:element name="HZKV" type="DGKv"/>
			<xs:element name="HNM" type="DGSEAZON"/>
			<xs:element name="HNUM" type="DGInom"/>
			<xs:element name="HNUM1" type="DGSEAZON"/>
			<xs:element name="HNAME" type="DGHNAME"/>
			<xs:element name="HTIN" type="DGHTINJ"/>
			<!--BODY-->
			<xs:element name="R01G1" type="xs:nonNegativeInteger" nillable="true" minOccurs="0"/>
			<xs:element name="R01G2" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G3" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--TABLE №1-->
			<xs:element name="T1RXXXXG5S" type="NumZOColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG61S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG62S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG63S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG7" type="I2inomColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG9" type="DMColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG10" type="DMColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG111" type="MonthColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG112" type="YearColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG12" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG13" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG14" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<!--/TABLE №1-->
			<xs:element name="R01G12" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G13" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--FOOTER-->
			<xs:element name="HFILL" type="DGDate"/>
			<xs:element name="HKBOS" type="DGDRFO_10"/>
			<xs:element name="HBOS" type="DGHBOS"/>
			<xs:element name="HKBUH" type="DGDRFO_10" nillable="true" minOccurs="0"/>
			<xs:element name="HBUH" type="DGHBUH" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!--Розробник: відділ проектування та розробки АІС ГУ ДПС у Черкаській області-->
