selferp_l10n_ua_ext/schemas/J0510209.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Відомості про осіб, які доглядають за дитиною до досягнення нею трирічного віку  та відповідно до закону отримують допомогу по догляду за дитиною до досягнення нею трирічного віку 
та/або при народженні дитини,   усиновленні дитини, та осіб із числа непрацюючих працездатних батьків, усиновителів, опікунів, піклувальників, прийомних батьків, батьків-вихователів, 
які фактично здійснюють догляд за дитиною з інвалідністю, дитиною, хворою на тяжке перинатальне ураження нервової системи, тяжку вроджену ваду розвитку, рідкісне орфанне захворювання, 
онкологічне, онкогематологічне захворювання, дитячий церебральний параліч, тяжкий психічний розлад, цукровий діабет I типу (інсулінозалежний), гостре або хронічне захворювання нирок IV ступеня, 
за дитиною, яка отримала тяжку травму, потребує трансплантації органа, потребує паліативної допомоги, якій не встановлено інвалідність, а також непрацюючих працездатних осіб, які здійснюють догляд 
за особою з інвалідністю I групи або за особою похилого віку, яка за висновком медичного закладу потребує постійного стороннього догляду або досягла 80-річного віку, якщо такі непрацюючі працездатні особи 
отримують допомогу, надбавку або компенсацію відповідно до законодавства, та нарахування сум єдиного внеску за патронатних вихователів, батьків-вихователів дитячих будинків сімейного типу, 
прийомних батьків, якщо вони отримують грошове забезпечення відповідно до законодавства (Додаток 2 до Податкового розрахунку сум доходу, нарахованого (сплаченого) на користь платників податків - фізичних осіб, 
і сум утриманого з них податку, а також сум нарахованого єдиного внеску (Д2) (пункт 2 розділу IV)). (Наказ Міністерства фінансів України від 04 липня 2022 року № 189)</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="common_types.xsd"/>
	<xs:element name="DECLAR" type="DeclarContent"/>
	<xs:complexType name="DeclarContent">
		<xs:sequence>
			<xs:element name="DECLARHEAD" type="DHead"/>
			<xs:element name="DECLARBODY" type="DBody">
				<xs:unique name="UT1RXXXXG5">
					<xs:selector xpath="T1RXXXXG5"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG6S">
					<xs:selector xpath="T1RXXXXG6S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG71S">
					<xs:selector xpath="T1RXXXXG71S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG72S">
					<xs:selector xpath="T1RXXXXG72S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG73S">
					<xs:selector xpath="T1RXXXXG73S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG8">
					<xs:selector xpath="T1RXXXXG8"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG10">
					<xs:selector xpath="T1RXXXXG10"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG11">
					<xs:selector xpath="T1RXXXXG11"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG12">
					<xs:selector xpath="T1RXXXXG12"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG131">
					<xs:selector xpath="T1RXXXXG131"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG132">
					<xs:selector xpath="T1RXXXXG132"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG14">
					<xs:selector xpath="T1RXXXXG14"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG15">
					<xs:selector xpath="T1RXXXXG15"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG16">
					<xs:selector xpath="T1RXXXXG16"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG17">
					<xs:selector xpath="T1RXXXXG17"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHead">
		<xs:sequence>
			<xs:element name="TIN" type="DGLong"/>
			<xs:element name="C_DOC" type="xs:string" fixed="J05"/>
			<xs:element name="C_DOC_SUB" type="xs:string" fixed="102"/>
			<xs:element name="C_DOC_VER" type="xs:string" fixed="9"/>
			<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
			<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
			<xs:element name="C_REG" type="DGsti"/>
			<xs:element name="C_RAJ" type="DGsti"/>
			<xs:element name="PERIOD_MONTH" type="DGMonth"/>
			<xs:element name="PERIOD_TYPE" type="DGPType"/>
			<xs:element name="PERIOD_YEAR" type="DGYear"/>
			<xs:element name="C_STI_ORIG" type="DGc_dpi"/>
			<xs:element name="C_DOC_STAN" type="DGSTAN"/>
			<xs:element name="LINKED_DOCS" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOC" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="C_DOC" type="DGC_DOC"/>
									<xs:element name="C_DOC_SUB" type="DGC_DOC_SUB"/>
									<xs:element name="C_DOC_VER" type="DGC_DOC_VER"/>
									<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_STAN" type="DGSTAN"/>
									<xs:element name="FILENAME" type="DGFilename"/>
								</xs:sequence>
								<xs:attribute name="NUM" type="xs:nonNegativeInteger"/>
								<xs:attribute name="TYPE" type="DGTypeLinkDoc"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UH_DOC_NUM">
					<xs:selector xpath="DOC"/>
					<xs:field xpath="@NUM"/>
				</xs:unique>
			</xs:element>
			<xs:element name="D_FILL" type="DGDate"/>
			<xs:element name="SOFTWARE" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DBody">
		<xs:sequence>
			<!--HEAD-->
			<xs:choice>
				<xs:element name="HZ" type="DGchk"/>
				<xs:element name="HZN" type="DGchk"/>
				<xs:sequence>
					<xs:element name="HZU" type="DGchk"/>
					<xs:element name="HTIN1" type="DGLong" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="HZY" type="DGYear"/>
			<xs:element name="HZKV" type="DGKv"/>
			<xs:element name="HNM" type="DGSEAZON"/>
			<xs:element name="HNUM1" type="DGSEAZON"/>
			<xs:element name="HNAME" type="DGHNAME"/>
			<xs:element name="HTIN" type="DGHTINJ"/>
			<!--BODY-->
			<xs:element name="R01G3" type="xs:nonNegativeInteger" nillable="true" minOccurs="0"/>
			<xs:element name="R01G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G3" type="xs:nonNegativeInteger" nillable="true" minOccurs="0"/>
			<xs:element name="R02G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R02G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R03G3" type="xs:nonNegativeInteger" nillable="true" minOccurs="0"/>
			<xs:element name="R03G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R03G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R03G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R04G3" type="xs:nonNegativeInteger" nillable="true" minOccurs="0"/>
			<xs:element name="R04G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R04G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R04G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R05G4" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R05G5" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R05G6" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R06G3" type="xs:nonNegativeInteger" nillable="true" minOccurs="0"/>
			<xs:element name="R061G3" type="xs:nonNegativeInteger" nillable="true" minOccurs="0"/>
			<!--TABLE №1-->
			<xs:element name="T1RXXXXG5" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG6S" type="NumZOColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG71S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG72S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG73S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG8" type="I2inomColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG10" type="DMColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG11" type="DMColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG12" type="KvColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG131" type="MonthColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG132" type="YearColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG14" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG15" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG16" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG17" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<!--/TABLE №1-->
			<xs:element name="R01G14" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G15" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G16" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--FOOTER-->
			<xs:element name="HFILL" type="DGDate"/>
			<xs:element name="HKBOS" type="DGDRFO_10"/>
			<xs:element name="HBOS" type="DGHBOS"/>
			<xs:element name="HKBUH" type="DGDRFO_10" nillable="true" minOccurs="0"/>
			<xs:element name="HBUH" type="DGHBUH" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!--Розробник: відділ проектування та розробки АІС ГУ ДПС у Черкаській області-->
