selferp_l10n_ua_ext/schemas/J0510109.xsd

<?xml version="1.0" encoding="windows-1251"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>ВІДОМОСТІ ПРО НАРАХУВАННЯ ЗАРОБІТНОЇ ПЛАТи (ДОХОДУ, ГРОШОВОГО ЗАБЕЗПЕЧЕННЯ) ЗАСТРАХОВАНиМ ОСОБАМ. (Додаток 1  до Податкового розрахунку сум доходу,
нарахованого (сплаченого) на користь платників податків - фізичних осіб, і сум утриманого з них податку, а також сум нарахованого єдиного внеску (Д1) (пункт 1  розділу IV)). 
(у редакції наказу Міністерства фінансів України   від  02.03.2023 року № 113)</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="common_types.xsd"/>
	<xs:element name="DECLAR" type="DeclarContent"/>
	<xs:complexType name="DeclarContent">
		<xs:sequence>
			<xs:element name="DECLARHEAD" type="DHead"/>
			<xs:element name="DECLARBODY" type="DBody">
				<xs:unique name="UT1RXXXXG5">
					<xs:selector xpath="T1RXXXXG5"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG6">
					<xs:selector xpath="T1RXXXXG6"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG7S">
					<xs:selector xpath="T1RXXXXG7S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG8">
					<xs:selector xpath="T1RXXXXG8"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG9">
					<xs:selector xpath="T1RXXXXG9"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG101">
					<xs:selector xpath="T1RXXXXG101"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG102">
					<xs:selector xpath="T1RXXXXG102"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG111S">
					<xs:selector xpath="T1RXXXXG111S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG112S">
					<xs:selector xpath="T1RXXXXG112S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG113S">
					<xs:selector xpath="T1RXXXXG113S"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG12">
					<xs:selector xpath="T1RXXXXG12"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG13">
					<xs:selector xpath="T1RXXXXG13"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG14">
					<xs:selector xpath="T1RXXXXG14"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG15">
					<xs:selector xpath="T1RXXXXG15"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG16">
					<xs:selector xpath="T1RXXXXG16"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG17">
					<xs:selector xpath="T1RXXXXG17"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG18">
					<xs:selector xpath="T1RXXXXG18"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG19">
					<xs:selector xpath="T1RXXXXG19"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG20">
					<xs:selector xpath="T1RXXXXG20"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG21">
					<xs:selector xpath="T1RXXXXG21"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG22">
					<xs:selector xpath="T1RXXXXG22"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG23">
					<xs:selector xpath="T1RXXXXG23"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG24">
					<xs:selector xpath="T1RXXXXG24"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG25">
					<xs:selector xpath="T1RXXXXG25"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
				<xs:unique name="UT1RXXXXG26">
					<xs:selector xpath="T1RXXXXG26"/>
					<xs:field xpath="@ROWNUM"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DHead">
		<xs:sequence>
			<xs:element name="TIN" type="DGLong"/>
			<xs:element name="C_DOC" type="xs:string" fixed="J05"/>
			<xs:element name="C_DOC_SUB" type="xs:string" fixed="101"/>
			<xs:element name="C_DOC_VER" type="xs:string" fixed="9"/>
			<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
			<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
			<xs:element name="C_REG" type="DGsti"/>
			<xs:element name="C_RAJ" type="DGsti"/>
			<xs:element name="PERIOD_MONTH" type="DGMonth"/>
			<xs:element name="PERIOD_TYPE" type="DGPType"/>
			<xs:element name="PERIOD_YEAR" type="DGYear"/>
			<xs:element name="C_STI_ORIG" type="DGc_dpi"/>
			<xs:element name="C_DOC_STAN" type="DGSTAN"/>
			<xs:element name="LINKED_DOCS" nillable="true" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DOC" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="C_DOC" type="DGC_DOC"/>
									<xs:element name="C_DOC_SUB" type="DGC_DOC_SUB"/>
									<xs:element name="C_DOC_VER" type="DGC_DOC_VER"/>
									<xs:element name="C_DOC_TYPE" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_CNT" type="xs:nonNegativeInteger"/>
									<xs:element name="C_DOC_STAN" type="DGSTAN"/>
									<xs:element name="FILENAME" type="DGFilename"/>
								</xs:sequence>
								<xs:attribute name="NUM" type="xs:nonNegativeInteger"/>
								<xs:attribute name="TYPE" type="DGTypeLinkDoc"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
				<xs:unique name="UH_DOC_NUM">
					<xs:selector xpath="DOC"/>
					<xs:field xpath="@NUM"/>
				</xs:unique>
			</xs:element>
			<xs:element name="D_FILL" type="DGDate"/>
			<xs:element name="SOFTWARE" type="xs:string" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DBody">
		<xs:sequence>
			<!--HEAD-->
			<xs:choice>
				<xs:sequence>
					<xs:element name="HZ" type="DGchk"/>
					<xs:element name="HZD" type="DGchk" nillable="true" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="HZN" type="DGchk"/>
				<xs:sequence>
					<xs:element name="HZU" type="DGchk"/>
					<xs:element name="HTIN1" type="DGLong" nillable="true" minOccurs="0"/>
					<xs:element name="HFIL" type="DGI4nom" nillable="true" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="HZY" type="DGYear"/>
			<xs:element name="HZKV" type="DGKv"/>
			<xs:element name="HNM" type="DGSEAZON"/>
			<xs:element name="HNUM1" type="DGSEAZON"/>
			<xs:element name="HNAME" type="DGHNAME"/>
			<xs:element name="HDDGV" type="DGDate" nillable="true" minOccurs="0"/>
			<xs:element name="HNDGV" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="HTIN" type="DGHTINJ"/>
			<xs:choice minOccurs="0">
				<xs:element name="H01" type="DGchk"/>
				<xs:element name="H02" type="DGchk"/>
			</xs:choice>
			<!--BODY-->
			<!--TABLE №1-->
			<xs:element name="T1RXXXXG5" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG6" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG7S" type="NumZOColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG8" type="I2inomColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG9" type="I2inomColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG101" type="MonthColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG102" type="YearColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG111S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG112S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG113S" type="StrColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG12" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG13" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG14" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG15" type="IntColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG16" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG17" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG18" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG19" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG20" type="Decimal2Column" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG21" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG22" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG23" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG24" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG25" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<xs:element name="T1RXXXXG26" type="OznColumn" nillable="true" minOccurs="0" maxOccurs="999999"/>
			<!--/TABLE №1-->
			<xs:element name="R01G16" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G17" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G18" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G19" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<xs:element name="R01G20" type="DGdecimal2" nillable="true" minOccurs="0"/>
			<!--FOOTER-->
			<xs:element name="HFILL" type="DGDate"/>
			<xs:element name="HKBOS" type="DGDRFO_10"/>
			<xs:element name="HBOS" type="DGHBOS"/>
			<xs:element name="HKBUH" type="DGDRFO_10" nillable="true" minOccurs="0"/>
			<xs:element name="HBUH" type="DGHBUH" nillable="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
<!--Розробник: відділ проектування та розробки АІС ГУ ДПС у Черкаській області-->
